<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>StorageHome | Error</title>
</head>
<body>
<div layout:fragment="content">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="text-secondary" style="font-size: 11.5rem" th:text="${status}"></h1>
        <span th:text="${error}"></span> <br>
        <span th:if="${message} != 'No message available'" th:text="${message}"></span>
        <span th:if="${message} == 'No message available'" class="text-secondary">No more description</span> <br> <br>

        <section th:switch="${status}">
            <span th:case="404"><a th:href="@{/}" class="btn btn-secondary">Back homepage</a></span>
            <span th:case="400"><b>Check your request body</b></span>
            <span th:case="*"><b>Oops...</b></span>
        </section>
    </div>
</div>
</body>
</html>